@font-face {
  font-family: Imported;
  src: url(./Fonts/Pretendard-Black.woff);
}

#root {
  font-family: Imported;
  color: black;
}

body {
  background-color: #f5f5fc;
  overflow-x: hidden; /* 가로 스크롤바 숨김 */
}
